* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 33, 48);
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}


.header {
    color: white;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 12px;
    font-size: 20px;
}

.container-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

p.title {
    font-size: 3em;
}

.info {
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
}

button.sign-up {
    background-color: royalblue;
    border: 1px royalblue;
    border-radius: 10px;
    color: white;
    width: 200px ;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 100px;
    margin-top: 100px;
    width:700px;
    height: 300px;
}

