body {
    display: flex;
    flex-direction: column;
    background-color: rgb(33, 33, 48);
}

a {
    text-decoration: none;
    color: white;
}


.header {
    color: white;
    flex: 1;
    display: flex;
    border: 8px solid red;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 12px;
    font-size: 20px;
}